.card-container{
    width:40%;
    flex-grow: 1;
    background-color:white;
    margin: 20px;
    padding:20px;
    .link{
        text-decoration: underline;
        color: black;
        padding: 0;
    }
}