.search-control {
    background-color: white;
    margin: 5px 0;
    padding: 30px;

    .input-container {
        position: relative;
        width: 60%;
        border: 1px solid black;
        border-radius: 5px;
        margin: 20px auto;
        padding: 20px;
        display: flex;
        justify-content: space-between;

        input {
            font-size: 26px;
            font-weight: 400;
            border: none;
            outline: none;
            flex-grow: 1;
            width: 80%;
        }
        
        svg {
            
            margin-right: 25px;
            align-self: center;
            right: 25px;
            top: 5px;
            width: 28px;
            height: 28px;

        }   
        .autocomplete-options{
            transition: 0.5s all;
            position: absolute;
            width: 100%;   
            top: 105%;
            left: 0;
            background-color: rgba(211, 211, 211, 0.818);
            border-bottom-right-radius: 10px;
            border-bottom-left-radius: 5px;
            box-sizing: border-box;
            div{
                margin: 5px 5px;
                padding: 5px;
                color: grey;
                border-bottom: 1px solid grey;
                transition: 0.5s all;
            }
            div:last-child{
                border:none;
            }
        }
    }
}

