body {
  background-color: #E5E5E5;
  margin: 0;
  font-family: roboto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

$dark-green:rgb(5, 97, 5);
$dark-red:rgb(200, 3, 3);

